* {
  box-sizing: border-box;
}

:root {
  --purple-color: #6c60ff;
  --darkGray-color: #181818;
  --purple-active-hover: #918ae2;
  --darkGray-active-hover: #2f2f2f;
  --error-color: #db324d;
  --auth-container-background: #ededed;
}

.auth-body {
  margin: 0;
}

.auth-container {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--auth-container-background);
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: var(--auth-container-background);
  width: 100%;
}

.auth-container form div {
  width: 95%;
  margin: 8px;
}

.auth-container form div input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: 0.5px solid #4e4e4e7c;
}

.auth-container form div .error-border {
  border: 1px solid var(--error-color);
}

.auth-container form p {
  text-align: center;
  font-size: 12px;
}

.auth-container form .sign-button {
  padding: 0.5rem;
  width: 70%;
  border: none;
  background-color: var(--purple-color);
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffff;
  margin: 0.5rem;
  cursor: pointer;
}

.auth-container form .sign-button:active {
  background-color: var(--purple-active-hover);
}

.auth-container form .sign-with-google-button {
  padding: 0.5rem;
  width: 70%;
  border: none;
  background-color: var(--darkGray-color);
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffff;
  margin: 0.5rem;
  cursor: pointer;
}

.auth-container form .sign-with-google-button:active {
  background-color: var(--darkGray-active-hover);
}

.error {
  color: var(--error-color);
  font-size: 0.75rem;
}

@media (min-width: 50rem) {
  .auth-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 93vh;
    margin: 0;
  }
  .auth-body img {
    height: 100%;
  }

  .auth-container {
    height: 100%;
    width: 60%;
    background-color: #ededed !important;
  }

  .auth-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
    background-color: #ffff;
    width: 25vw;
  }
}

@media (max-height: 26rem) and (max-width: 39rem) {
  .auth-container {
    height: 180vh;
  }
}

@media (max-height: 26rem) {
  .auth-container {
    min-height: 160vh;
  }

  .auth-container form {
    margin-top: 18rem;
  }

  .auth-body img {
    display: none;
  }
}
